{% extends "base.html.twig" %}

{% block titre %} Auteur : {{auteur.nom}} {{auteur.prenom}}{% endblock %}
{% block contenu %}
   <h2>Nom : {{auteur.nom}}</h2>
   <h2>Prénom : {{auteur.prenom}}</h2>
   <div>Age : {{auteur.age}}</div>
   <div>
        Sexe : 
        {% if auteur.sexe %}
            Homme
        {% else %}
            Femme 
        {% endif %}
   </div>
{% endblock %} 